---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { StatusIcon } from '@components/StatusIcon';
import { ArrowIcon } from '@components/icons/Arrow';
import type { IncidentHistory } from 'data';
import { incidentHistories } from 'data';
import { parseTokyoDate } from '@utils/dayjs';

export async function getStaticPaths() {
  return incidentHistories.map((incident) => ({
    params: { slug: incident.slug },
    props: { incident },
  }));
}

const incident = Astro.props.incident as IncidentHistory | undefined;

const formatDate = (dateStr: string | null, excludeMinutes = false) => {
  if (!dateStr) {
    return null;
  }
  const date = parseTokyoDate(dateStr);
  return excludeMinutes ? date.format('YYYY/MM/DD H時') : date.format('YYYY/MM/DD HH:mm');
};

const resolvedText = incident?.resolvedAt
  ? formatDate(incident.resolvedAt)
  : incident
    ? `未復旧(${incident.estimatedResolveDate ? `${formatDate(incident.estimatedResolveDate, true)}頃復旧見込み` : '復旧見込みなし'})`
    : null;

const pageTitle = incident
  ? `${incident.title.ja} - TrainLCD System Status`
  : 'TrainLCD System Status';
const description = incident
  ? incident.description.ja
  : 'TrainLCDサービスの障害情報';
---

<BaseLayout title={pageTitle} description={description}>
  {
    incident ? (
      <main class="flex flex-col justify-center items-center md:p-8 p-4 md:mt-16 mt-4 md:mb-32 mb-16">
        <div class="flex justify-center flex-col items-center w-full max-w-2xl">
          <StatusIcon status={incident.incidentImpact} className="h-32 w-32" />
          <h1 class="mt-4 font-bold text-2xl text-center whitespace-pre-wrap">
            {incident.title.ja}
          </h1>
          <p class="mt-4 w-full whitespace-pre-wrap">{incident.description.ja}</p>

          <div class="mt-6 w-full flex">
            <p class="font-bold">推定障害発生日時:</p>
            <p class="ml-2">{formatDate(incident.publishedAt)}</p>
          </div>
          <div class="w-full flex">
            <p class="font-bold">最終更新日時:</p>
            <p class="ml-2">{formatDate(incident.updatedAt)}</p>
          </div>
          <div class="w-full flex">
            <p class="font-bold">障害の原因:</p>
            <p class="ml-2">{incident.cause?.ja}</p>
          </div>
          <div class="w-full flex">
            <p class="font-bold">復旧日時:</p>
            <p class="ml-2">{resolvedText}</p>
          </div>

          <div class="w-full mt-8">
            <a class="text-sm font-bold text-gray-600 inline-flex items-center" href="/">
              <ArrowIcon className="mr-1" />現在の障害情報
            </a>
          </div>
        </div>
      </main>
    ) : (
      <main class="flex flex-col justify-center items-center md:p-8 p-4 md:mt-16 mt-4 md:mb-32 mb-16">
        <div class="flex justify-center flex-col items-center">
          <StatusIcon status="unknown" className="h-32 w-32" />
          <h1 class="mt-4 font-bold text-2xl text-center">404 Not Found</h1>
          <h2 class="mt-4 font-bold text-center">
            指定された障害レポートが見つかりませんでした。
          </h2>
          <div class="mt-4">
            <a class="text-sm font-bold text-gray-600 flex items-center" href="/">
              現在の障害情報
            </a>
          </div>
        </div>
      </main>
    )
  }
</BaseLayout>
